# Ignore directories
venv/
.idea/
.cursor/
.vscode/
*.egg-info/
dist/
build/
temp/
logger/
openmmla/analysis/indicator/
openmmla/analysis/config/

# Ignore deprecated repositories
deprecated/
version_control/

# Ignore directories at any level
**/tests/
**/__pycache__/

# Ignore specific files
.DS_Store
twine.txt

# Ignore specific files at any level
**/config.yml

# Unignore specific files
!.gitkeep