# Ignore directories
venv/
.idea/
.vscode/
*.egg-info/
dist/
build/
__pycache__/
temp/
logger/

# Ignore repositories
mbox-audio/
mbox-video/
mbox-uber/
tests/

# Ignore specific files
.DS_Store
test*.*
*test.*

# Unignore specific files
!.gitkeep
