/* Navbar.css */

.navbar {
  background: transparent; /* 完全透明背景 */
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
  position: fixed; /* 固定在顶部 */
  width: 100%; /* 满宽度 */
  top: 0; /* 置于顶部 */
  left: 0; /* 与左边界对齐 */
  z-index: 1000; /* 确保它在页面的最上面 */
}

.navbar-brand {
  font-size: 2em; /* 调整字体大小 */
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease; /* 平滑的颜色过渡效果 */
}

.navbar-brand:hover {
  color: #e9ecef; /* 鼠标悬停时的颜色变化 */
}
