{% if config.is_linux %}
load_module modules/ngx_rtmp_module.so;
{% endif %}

{% if config.rtmp_apps | length > 0 %}
rtmp_auto_push on;
rtmp_auto_push_reconnect 1s;
{% endif %}

worker_processes auto;

events {
    worker_connections 2048;
    multi_accept on;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;
    client_max_body_size 50M;

    {# Only render the upstream having at least one reachable server #}
    {% for name, servers in config.upstreams.items() if servers | selectattr('reachable') | list | length > 0 %}
    upstream {{ name }} {
        {% for s in servers if s.reachable %}
        server {{ s.ip }}:{{ s.port }} weight={{ s.weight }} max_fails=1 fail_timeout=30s;
        {% endfor %}
        keepalive 40;
    }
    {% endfor %}

    server {
        listen 8080;
        server_name localhost;

        location / {
            root html;
            index index.html index.htm;
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root html;
        }

        location /stat {
            rtmp_stat all;
            rtmp_stat_stylesheet stat.xsl;
            add_header Cache-Control no-cache;
        }

        location /stat.xsl {
            root /usr/local/nginx/html;
        }

        {# Only render location for valid streams #}
        {% for name, servers in config.upstreams.items() if servers | selectattr('reachable') | list | length > 0 %}
        location /{{ name }} {
            proxy_pass http://{{ name }};
            proxy_next_upstream error timeout http_500 http_502 http_503 http_504;
            proxy_next_upstream_tries 3;
            proxy_connect_timeout 2s;
        }
        {% endfor %}
    }
}

{% if config.rtmp_apps and config.rtmp_apps | length > 0 %}
rtmp {
    server {
        listen 1935;
        chunk_size 4096;

        {% for app in config.rtmp_apps %}
        application {{ app }} {
            live on;
            record off;
        }
        {% endfor %}
    }
}
{% endif %}
