Cython==3.0.11
nemo-toolkit[asr]<=1.23.0
modelscope[framework]==1.16.1
denoiser-compat==0.1.5.dev0
silero-vad==5.1
googletrans==3.0.0
onnxruntime==1.18.1
openai-whisper==20231117
transformers==4.33.3
speechbrain==1.0.0
rotary-embedding-torch==0.6.4
gunicorn==22.0.0
flask==3.0.3
pandas==2.2.2
gevent==24.2.1
huggingface_hub==0.23.5
